<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= basename %></title>
    <style>
      body>ul>li {padding: 1rem;}
    </style>
  </head>
  <body>
    <ul>
      <% files.forEach(function(file) { %>
        <li>
          <a href="<%=file%>">
            <%=file%>
          </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
